html, body, #__next, #__next > div {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased !important;
  font-family: "PT Sans", Helvetica, Arial, sans-serif !important;
}
* {
  box-sizing: border-box;
}

.center-align {
  text-align: center;
}

.login-form-wrapper {
  margin-top: 40px !important;
}

#login-form {
  text-align: center;
}
#login-form input {
  font-size: 20px !important;
  font-family: inherit !important;
  padding: 30px 20px !important;
  border-width: 1px !important;
}
#login-form button {
  margin-top: 20px !important;
  width: 70%;
  height: 80px;
  font-size: 22px;
}
.alert-danger {
  color: white !important;
}
